:root{
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #fd4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    margin-top: 24px;
    padding : 0 40px;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size : 1.25rem;
}

h1{
    color : var(--primaryColor);
}

h1 svg {
    width: 48px;
    fill: var(--primaryColor);
}

#header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 0 36px 0;
}

#buttons {
    text-align: right;

}

#info {
    color: var(--primaryColor);
}

button { 
    background: rgba(255,255,255,0.2);
    border : 0;
    color:rgba(255,255,255,0.5);
    padding: 8px 24px;
    border-radius: 5px;
    cursor: pointer;
}

#words {
    filter: blur(5px);
    color: var(--textSecondary);
}
#game:focus #words {
    filter: blur(0);

}

#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
}

#game:focus #focus-error {
    display: none;
}


div.word {
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    margin: 0 8px;
}

div#game{
     line-height: 40px;
     height: 20vh;
     overflow: hidden;
}

.letter.correct {
    color: #fff;
}

.letter.incorrect{
    color: #f55;
}